@media screen and (max-width: 512px) {

    .header__menu ul {
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background-color: #3d322b;
        padding: 140px 55px;
        transition: right .6s;
        gap: 15px;

    }

    .menu__link > a {
        width: 100%;
        padding: 5px 10px;
        transition: color .2s ease;
        position: relative;
        z-index: 1;
    }

    .menu__link> a::after {
        content: '';
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        background-color: snow;
        transition: height .3s ease;
        z-index: -1;
    }

    .menu__link > a:hover::after {
        height: 100%;
    }

    .menu__link > a:hover {
        color: #3d322b;
        font-size: 32px;
    }

    .menu__link {
        width: 100%;

        display: flex;
        justify-content: center;
    }


    .header__menu .link {
        font-size: 32px;
        padding-bottom: 5px;
    }

    .menu__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active ul {
        right: 0;
        overflow: auto;
    }

    .active ul::before {
        display: block;
    }

    .active .menu__icon span {
        background-color: transparent;
    }

    .active .menu__icon span::before {
        top: 0;
        transform: rotate(-45deg);
    }

    .active .menu__icon span::after {
        bottom: 0;
        transform: rotate(45deg);
    }




    .grid__item__1 {
        grid-row-end: 1;
        grid-column-end: 3;
    }

    .grid__item__2 {
        grid-column-start: 3;
    }

    .grid__item__3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .grid__item__4{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-end: 3;
        grid-row-start: 3;
    }

    .grid__item__5 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .info_wrapper:nth-child(2) {
        flex-direction: column-reverse;
    }

    .info_wrapper {
        gap: 20px;
        margin-bottom: 20px;
    }

    .intro__title {
        font-size: 50px;
    }

    .info_text .heading {
        text-align: center;
    }

    .accordion:nth-child(even),
    .accordion:nth-child(odd){
        margin: 0;
    }



    .menu__bottom__links {
        display: flex;
        z-index: 10;
    }

    .g_map {
        height: 100%;
        width: 100%;
        left: 50%;
    }

    .map .heading {
        position: absolute;
        top: -10px;
        z-index: 10;
        right: 20px;
    }
}